<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Adalab Web Starter Kit</title>
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body class="container">
    <form action="container__form">
      <input type="text" class="container__form__input" />
      <button class="container__form__button">Enviar frustración</button>
    </form>
    <script src="./assets/js/main.js"></script>
  </body>
</html>
